.header{
    border: 1px solid orange;
    width: 100%;
}
.questionContainer{
    font-size: 11px;
}
.buttonContainer{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}
.roundButton{
    border-radius: 10px;
    border: 1px solid orange;
    width: 100px;
}
.questionContainer tr:nth-child(even){
  background-color: orange;
}
.questionContainer tr td{
    padding: 3px 2px 3px 10px;
}
