<div class="header-area">
  <span class="header-text">Neuro Related Care</span>
  <div class="right-float action-buttons"><span class="icon-stack" (click)="buttonclicked('book')"></span></div>
</div>
<div class="cds-panel">
  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.relapses.checked' /> Review relapses </label>
    </div>

    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('book')" [popover]="cdsState.relapses.info"
        [popoverTitle]="cdsState.relapses.title" outsideClick="true" triggers="focus" placement="left" container="body" width="20px" height="20px">
    </div>
  </div>

  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.imaging.checked' /> Review MRI images </label>
    </div>

    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoMri')" width="20px" height="20px">
    </div>
  </div>

  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.symptomStatus.checked' /> Review symptom status </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoSymptom')" width="20px" height="20px">
    </div>
  </div>


  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.typeStatus.checked' /> Review MS type/status </label>
    </div>

    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoMsType')" width="20px" height="20px">
    </div>
  </div>
  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.dmt.checked' /> Review DMTs </label>
    </div>

    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoDMT')" width="20px" height="20px">
    </div>
  </div>
  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.labs.checked'  /> Review monitoring labs </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoMonitoringLabs')" width="20px"
        height="20px">
    </div>
  </div>
  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.vitaminD.checked'  /> Review Vitamin D </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoVitaminD')" width="20px" height="20px">
    </div>
  </div>
  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.otherMeds.checked'  /> Review other related meds </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoOtherMeds')" width="20px"
        height="20px">
    </div>
  </div>

  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.otherMeds.checked'  /> Review other related meds </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoOtherMeds')" width="20px"
        height="20px">
    </div>
  </div>

  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.referrals.checked' /> Review symptoms referrals </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoSymptomsReferrals')" width="20px"
        height="20px">
    </div>
  </div>
  <div class="cds-items">
    <div class="cds-items-checkbox">
      <label><input type="checkbox" [(ngModel)]='cdsState.vaccinations.checked' /> Review vaccinations </label>
    </div>
    <div class="cds-items-info">
      <input type="image" src="../../assets/images/information-icon.png" (click)="buttonClicked('vaccinations')" width="20px" height="20px">
    </div>
  </div>
</div>