
<ng-template #relapsesSecondLevelTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left cssTitle">Relapse</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialog.closeAll()">
              <span aria-hidden="true">&times;</span>
          </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-xs-6">Date</div>
          <div class="col-xs-3">{{relapsesDetail.month}}</div>
          <div class="col-xs-3">{{relapsesDetail.year}}</div>
      </div>
      <!-- <div class="row" style="margin-top:3px;">
          <div class="col-xs-6"># of Relapses</div>
          <div class="col-xs-6">{{relapsesDetail.relapse_cnt}}</div>
          
      </div> -->
      <div class="row" style="margin-top:3px;">
          <div class="col-xs-6">Clinician Confirmed</div>
          <div class="col-xs-1" > Y <md-checkbox disabled  [checked]="relapsesDetail.confirm" ></md-checkbox> </div>
          <div class="col-xs-1"> N <md-checkbox disabled  [checked]="!relapsesDetail.confirm"></md-checkbox> </div>

      </div>
      
  </div>
</ng-template>
<ng-template #relapsesEditSecondLevelTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left cssTitle">Relapse</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialog.closeAll()">
              <span aria-hidden="true">&times;</span>
          </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-xs-1"> <button md-icon-button (click)="deleteChart()">
              <md-icon class="material-icons alignImg">clear</md-icon>
          </button></div>
          <div class="col-xs-3">Date</div>
          <div class="col-xs-6">
              <span>
              <md-select  placeholder="monthSel" [(ngModel)]="relapsesDetail.month" (change)="valChng()" style="padding-top:0px !important;margin-top:-15px !important;" floatPlaceholder="never">
                  <md-option  *ngFor="let mnth of month" [value]="mnth">{{mnth}}</md-option>
                </md-select></span>
                <span>
                <md-select placeholder="yearSel" [(ngModel)]="relapsesDetail.year" (change)="valChng()" style="padding-top:0px !important;margin-top:-15px !important;" floatPlaceholder="never">
                      <md-option *ngFor="let year of years" [value]="year">{{year}}</md-option>
                    </md-select></span>
          </div>
          <div class="col-xs-2" *ngIf="isEditSelected"><button md-button class="btnCss" (click)="updateChart()">Update</button></div>
         
      </div>
      <!-- <div class="row" style="margin-top:6px;">
          <div class="col-xs-1"></div>
          <div class="col-xs-4" ># of Relapses</div>
          <div class="col-xs-5"> <input mdInput class="inputCss" [(ngModel)]="relapsesDetail.relapse_cnt" type="number" min="0" value="{{relapsesDetail.relapse_cnt}}"></div>
          
      </div> -->
      <div class="row" style="margin-top:6px;">
          <div class="col-xs-1"></div>
          <div class="col-xs-6">Clinician Confirmed</div>
          <div class="col-xs-1" > Y <md-checkbox  (change)="checkChge()"  [checked]="relapsesDetail.confirm" ></md-checkbox> </div>
          <div class="col-xs-1"> N <md-checkbox  (change)="checkChge()" [checked]="!relapsesDetail.confirm"></md-checkbox> </div>

      </div>
      
  </div>
</ng-template>
<ng-template #relapsesAddSecondLevelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left cssTitle">Add Relapse</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dialog.closeAll()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <div class="row">
            
            <div class="col-xs-3">Reported Relapse</div>
            <div class="col-xs-9">
                <span>
                <md-select  placeholder="" [(ngModel)]="relapsesDetail.month"  style="padding-top:0px !important;margin-top:-15px !important;" floatPlaceholder="never">
                    <md-option  *ngFor="let mnth of month" [value]="mnth">{{mnth}}</md-option>
                  </md-select></span>
                  <span>
                  <md-select placeholder="" [(ngModel)]="relapsesDetail.year" style="padding-top:0px !important;margin-top:-15px !important;" floatPlaceholder="never">
                        <md-option *ngFor="let year of years" [value]="year">{{year}}</md-option>
                      </md-select></span>
            </div>
            
        </div>
        <div class="row" style="margin-top:6px;">
            <div class="col-xs-1"></div>
            <div class="col-xs-5" ></div>
            <div class="col-xs-2"><button md-button class="btnCss" (click)="addChart()">Add</button></div>
            
            
        </div>
        
        
    </div>
  </ng-template>
