<div class="treatments">
  <input type="checkbox" (click)="checkBoxClicked('dmt')">
  <label>DMT</label>
  <br />
  <input type="checkbox" (click)="checkBoxClicked('Other Meds')">
  <label>Other Meds</label>
  <br />
  <input type="checkbox" (click)="checkBoxClicked('Vitamin D')">
  <label>Vitamin D</label>
  <br />
  <input type="checkbox" (click)="checkBoxClicked('Referrals')">
  <label>Referrals</label>
</div>

<div class="outcomes">
  <input type="checkbox">
  <label>EDSS</label>
  <br />
  <input type="checkbox">
  <label>25' Walk</label>
  <br />
  <input type="checkbox">
  <label>Relapses</label>
  <br />
  <input type="checkbox">
  <label>Imaging</label>
  <br />
  <input type="checkbox">
  <label>Symptoms</label>
</div>

<div class="monitoring">
  <input type="checkbox">
  <label>Labs</label>
  <br />
  <input type="checkbox">
  <label>Vaccinations</label>
  <br />
  <input type="checkbox">
  <label>DME</label>
</div>

<div class="encounters">
  <input type="checkbox">
  <label>Office</label>
  <br />
  <input type="checkbox">
  <label>MHO</label>
  <br />
  <input type="checkbox">
  <label>Phone</label>
</div>
  
