<div class="header-area">
  <span class="header-text">Neuro Related</span>
</div>
<!-- <button (click)="testMany()">Test Many</button> -->
<!-- <app-zebra></app-zebra> -->
<div class="ms-related-panel">
  <div class="related-panel">
    <div class="related-treatments">
      <div class="related-rotate-text">TREATMENTS</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li><md-checkbox [checked]="true" (change)='changed($event,"dmt")'>DMT</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"otherMeds")'>Other Meds</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"vitaminD")'>Vitamin D</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"referrals")'>Referrals</md-checkbox></li>
      </ul>
    </div>
  </div>
  <div class="related-panel">

    <div class="related-outcomes">
      <div class="related-rotate-text">OUTCOMES</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li><md-checkbox [checked]="true" (change)='changed($event,"edss")'>EDSS</md-checkbox><span (click)="openDialog('edss')">+</span></li>
        <li><md-checkbox (change)='changed($event,"walk25Feet")'>25' Walk</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"relapses")'>Relapses</md-checkbox><span (click)="openDialog('relapses')">+</span></li>
        <li><md-checkbox (change)='changed($event,"imaging")'>Imaging</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"symptoms")'>Symptoms</md-checkbox></li>
      </ul>
    </div>

  </div>

  <div class="related-panel">

    <div class="related-monitoring">
      <div class="related-rotate-text">MONITORING</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li><md-checkbox [checked]="true" (change)='changed($event,"labs")'>Labs</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"vaccinations")'>Vaccinations</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"dme")'>DME</md-checkbox><span>+</span></li>
      </ul>
    </div>

  </div>

  <div class="related-panel">

    <div class="related-encounters">
      <div class="related-rotate-text">ENCOUNTERS</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li><md-checkbox (change)='changed($event,"office")'>Office</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"mho")'>MHO</md-checkbox></li>
        <li><md-checkbox (change)='changed($event,"phone")'>Phone</md-checkbox></li>
      </ul>
    </div>

  </div>

</div>