<div class="header-area">
    <div class="edss-caseload" *ngIf="isEdssSelected">
        <button md-button class="virtual-buttons" (click)="toggleEdssVirtualCaseload()">{{toggleVirtualCaseLoad}}</button>
        <div class="btn-info" (click)="showVirtualCaseloadInfo($event)"><span class="icon-info"></span></div>
    </div>
    <div class="right-float">
        <div class="action-buttons disabled"><span class="icon-nav-avs"></span></div>
        <div class="action-buttons"><span class="icon-nav-note"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span></div>
    </div>
</div>
<div id="graph-panel-wrapper">
    <div id="graph-container" style="position:relative;">
        <svg width="100%" [style.height.px]="graphSetting.panel.offsetHeight">
            <g app-shared-grid [chartState]="state" id="shared-grid"></g>
            <g app-labs [chartState]="state" id="labs"></g>
            <g app-imaging [chartState]="state" id="imaging"></g>
            <g app-relapses [chartState]="state" id="relapses"></g>
            <g app-edss [chartState]="state" id="edss"></g>
        </svg>
        <div app-medications [chartState]="state" id="medications-container" [style.top.px]="graphSetting.medications.positionTop"
            [style.height.px]="graphSetting.medications.containerHeight" style="position:absolute;width:100%;overflow-y:auto;overflow-x:hidden;background-color:#FFF;border:1px solid #E7E7E7;padding-top:5px;">
        </div>
    </div>
    <div id="graph-control">
        <div id="undo" class="control-button"><span class="icon-graph-undo"></span></div>
        <div id="legend" class="control-button"><span class="icon-graph-key"></span></div>
        <div id="zoom" class="control-button"><span class="icon-graph-zoom"></span></div>
    </div>
</div>

<ng-template #virtualCaseloadInfoTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Virtual Caseload</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="virtualCaseloadInfoDialogRef.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span class="virtual-caseload-info">
            This is a cohort of comparable patients from UCSF and other clinical centers who were all prospectively followed in the modern treatment era.Visualizing your patient's course in the context of this 'virtual caseload' of treated MS patients may highlight patients who may require intensification of treatment.
        </span>
    </div>
</ng-template>