<div class="header-area">
    <div class="header-text" *ngIf="isEdssSelected">
        <button md-button class="roundButtonCss" (click)="addArea()">{{toggleVirtualCaseLoad}}</button>
        <!-- <div class="example-tooltip-host" mdTooltip="Tooltip!" [mdTooltipPosition]="after"> -->
        <span mdTooltipClass="tooltipCss" mdTooltip="This is a cohort of comparable patients from UCSF and other clinical centers who were all prospectively followed in the modern treatment era.Visualizing your patient's course in the context of this 'virtual caseload' of treated MS patients may highlight patients who may require intensification of treatment">
            <button md-icon-button>
                <md-icon class="material-icons" style="vertical-align:middle;cursor:hand;" (click)="buttonclicked('infoMri')">info</md-icon>
            </button></span>
            
    </div>
    <div class="right-float">
        <div class="action-buttons selected"><span class="icon-file-empty"></span></div>
        <div class="action-buttons"><span class="icon-files-empty"></span></div>
    </div>
</div>
<!-- <div>
    <svg width="746" height="300">
        <g id='control-panel'></g>
        <g id="edss"></g>
    </svg>
</div>
<div style="width:746px;height:400px;">
    <svg id='medications' app-medications>
    </svg>
</div> -->

<div id="graph-panel-wrapper">
    <div id="graph-container" style="position:relative;">
        <svg width="100%" [style.height.px]="graphSetting.panel.offsetHeight">
            <g app-shared-grid [chartState]="state" id="shared-grid"></g>
            <g app-imaging [chartState]="state" id="imaging"></g>
            <g app-relapses [chartState]="state" id="relapses"></g>
            <g app-edss [chartState]="state" id="edss"></g>
        </svg>
        <div app-medications [chartState]="state" id="medications-container" [style.top.px]="graphSetting.medications.positionTop"
            [style.height.px]="graphSetting.medications.containerHeight" style="position:absolute;width:100%;overflow-y:auto;overflow-x:hidden;background-color:#FFF;border:1px solid #E7E7E7;padding-top:5px;">
        </div>
    </div>
    <div id="graph-control">
        <div id="undo" class="control-button" style="background-color: #e7d7f7">
        </div>
        <div id="zoom" class="control-button" style="background-color: #e1f4ff">
        </div>
        <div id="legend" class="control-button" style="background-color:#dff1a6">
        </div>
    </div>
</div>