<div class="header-wrapper">
    <div class="left-content" *ngIf="isEdssSelected">
        <button class="header-button">Add Virtual Caseload</button>
        <input class="header-info-button" type="image" src="../../assets/images/information-icon.png" (click)="buttonclicked('infoMri')" width="20px" height="20px">
    </div>
    <div class="right-content">
        <a><img src="../../assets/images/nav-up-avs.PNG" width="50px" height="50px"></a>
        <a><img src="../../assets/images/nav-up-second.PNG" width="50px" height="50px"></a>
    </div>
</div>
<div>
    <svg width="746" height="300">
        <g id='control-panel'></g>
        <g id="edss"></g>
    </svg>
</div>
<div style="width:746px;height:400px;">
    <svg id='medications' app-medications>
    </svg>
</div>