$header-bar : #205867;
$navigation-bar : #333333;

.demographic-bar{
    width: 1366px;
    height: 50px;
    background-color: $header-bar;
}
.navigation-bar{
    width: 50px;
    height: 718px;
    background-color: $navigation-bar;
    position:relative;
    float: left;
}