<div>{{testValue}}</div>
<div class="reviewArea">
  <input type="checkbox">
  <label>Review relapses</label>
  <br />
  <input type="checkbox">
  <label>Review MRI images</label>
  <br />
  <input type="checkbox">
  <label>Review symptom status</label>
  <br />
  <input type="checkbox">
  <label>Review MS type/status</label>
  <br />
  <input type="checkbox">
  <label>Review DMTs</label>
  <br />
  <input type="checkbox">
  <label>Review monitoring labs</label>
  <br />
  <input type="checkbox">
  <label>Review Vitamin D</label>
  <br />
  <input type="checkbox">
  <label>Review other related meds</label>
  <br />
  <input type="checkbox">
  <label>Review symptoms referrals</label>
  <br />
  <input type="checkbox">
  <label>Review vaccinations</label>
</div>
