<!-- initial height is 0, appropriate height and display will be set at runtime -->
<svg attr.id={{medType.vitaminD}} width="100%" height="0" [style.marginLeft.px]="graphDimension.marginLeft" style="display:none"></svg>
<svg attr.id={{medType.dmt}} width="100%" height="0" [style.marginLeft.px]="graphDimension.marginLeft" style="display:none"></svg>
<svg attr.id={{medType.otherMeds}} width="100%" height="0" [style.marginLeft.px]="graphDimension.marginLeft" style="display:none"></svg>

<ng-template #dmtSecondLevelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{medSecondLayerModel.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRef.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-5">Generic Name :</div>
            <div class="col-xs-7">{{medSecondLayerModel.simpleGenericName}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Ordered :</div>
            <div class="col-xs-7">{{medSecondLayerModel.orderDate}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">End :</div>
            <div class="col-xs-7">{{medSecondLayerModel.medEnd}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Patient Reported Start :</div>
            <div class="col-xs-7">
                <span>
                    <md-select placeholder="Month" 
                        floatPlaceholder="never" 
                        [(ngModel)]="medSecondLayerModel.patientReportedStartDateMonth" 
                        [disabled]="medSecondLayerModel.encounterStatus==='close'"
                        [ngClass]="{'fake-disabled': !medSecondLayerModel.allowEdit }">
                            <md-option [value]="1">Janaury</md-option>
                            <md-option [value]="2">February</md-option>
                            <md-option [value]="3">March</md-option>
                            <md-option [value]="4">April</md-option>
                            <md-option [value]="5">May</md-option>
                            <md-option [value]="6">June</md-option>
                            <md-option [value]="7">July</md-option>
                            <md-option [value]="8">August</md-option>
                            <md-option [value]="9">September</md-option>
                            <md-option [value]="10">October</md-option>
                            <md-option [value]="11">November</md-option>
                            <md-option [value]="12">December</md-option>
                    </md-select>
                </span>
                <span>
                     <md-select placeholder="Year" 
                        floatPlaceholder="never" 
                        [(ngModel)]="medSecondLayerModel.patientReportedStartDateYear"
                        [disabled]="medSecondLayerModel.encounterStatus==='close'"
                        [ngClass]="{'fake-disabled': !medSecondLayerModel.allowEdit }">
                        <md-option *ngFor="let item of medSecondLayerModel.allYears" [value]="item">{{item}}</md-option>
                    </md-select>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">Quantity :</div>
            <div class="col-xs-7">{{medSecondLayerModel.medQuantity}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Frequency :</div>
            <div class="col-xs-7">{{medSecondLayerModel.frequency}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5"># of Refills (Ordered/Remaining) :</div>
            <div class="col-xs-7">{{medSecondLayerModel.refillCount || '...'}} / {{medSecondLayerModel.refillRemain || '...'}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5"># of Relapses :</div>
            <div class="col-xs-7">{{medSecondLayerModel.noOfRelapses}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Reason Stopped :</div>
            <div class="col-xs-7">
                <span>
                    <md-select placeholder="Select" floatPlaceholder="never" [ngClass]="{'fake-disabled': !medSecondLayerModel.allowEdit }" 
                        [(ngModel)]="medSecondLayerModel.reasonStopped"
                        [disabled]="medSecondLayerModel.encounterStatus==='close'">
                        <md-option value="Side effects">Side effects </md-option>
                        <md-option value="Insurance">Insurance</md-option>
                        <md-option value="Cost">Cost</md-option>
                        <md-option value="Logistics">Logistics</md-option>
                        <md-option value="Needle fatigue">Needle fatigue</md-option>
                        <md-option value="Other">Other</md-option>
                    </md-select>
                </span>
                <span *ngIf="medSecondLayerModel.reasonStopped === 'Other' || medSecondLayerModel.reasonStopped === 'Side effects'">
                    <md-form-field floatPlaceholder="never" [ngClass]="{'fake-disabled': !medSecondLayerModel.allowEdit }">
                        <input mdInput placeholder="Specify" 
                        [(ngModel)]="medSecondLayerModel.otherReason" 
                        />
                    </md-form-field>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button md-raised-button (click)="updateDmt()">Update</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #vitaminDSecondLevelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{medSecondLayerModel.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRef.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-5">Generic Name :</div>
            <div class="col-xs-7">{{medSecondLayerModel.simpleGenericName}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Ordered :</div>
            <div class="col-xs-7">{{medSecondLayerModel.orderDate}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">End :</div>
            <div class="col-xs-7">{{medSecondLayerModel.medEnd}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Patient Reported</div>
            <div class="col-xs-7">{{medSecondLayerModel.medEnded}}</div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                Best practices suggest that all patients treated for MS, should be on dosages of Vitamin D.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #otherMedsSecondLevelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{medSecondLayerModel.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRef.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-5">Generic Name :</div>
            <div class="col-xs-7">{{medSecondLayerModel.simpleGenericName}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Ordered :</div>
            <div class="col-xs-7">{{medSecondLayerModel.orderDate}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">End :</div>
            <div class="col-xs-7">{{medSecondLayerModel.medEnd}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Quantity :</div>
            <div class="col-xs-7">{{medSecondLayerModel.medQuantity}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Frequency :</div>
            <div class="col-xs-7">{{medSecondLayerModel.frequency}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5"># of Refills (Ordered/Remaining) :</div>
            <div class="col-xs-7">{{medSecondLayerModel.refillCount || '...'}} / {{medSecondLayerModel.refillRemain || '...'}}</div>
        </div>
        <div class="row">
            <div class="col-xs-5">Reason for Med :</div>
            <div class="col-xs-7">
                <md-select style="padding-top:0" placeholder="Select" floatPlaceholder="never" [ngClass]="{'fake-disabled': !medSecondLayerModel.allowEdit }"
                [(ngModel)]="medSecondLayerModel.reasonForMed"
                    [disabled]="medSecondLayerModel.encounterStatus==='close'">
                    <md-option value="Thinking/Memory/Cognition">Thinking/Memory/Cognition </md-option>
                    <md-option value="Fatigue">Fatigue</md-option>
                    <md-option value="Vision">Vision</md-option>
                    <md-option value="Speech">Speech</md-option>
                    <md-option value="Swallow">Swallow</md-option>
                    <md-option value="Arm Use">Arm Use</md-option>
                    <md-option value="Leg Use">Leg Use</md-option>
                    <md-option value="Walking/Coordination (mobility)">Walking/Coordination (mobility)</md-option>
                    <md-option value="Balance">Balance</md-option>
                    <md-option value="Tingling/Numbness (sensory)">Tingling/Numbness (sensory)</md-option>
                    <md-option value="Pain">Pain</md-option>
                    <md-option value="Bowel">Bowel</md-option>
                    <md-option value="Bladder">Bladder</md-option>
                    <md-option value="Sexual">Sexual</md-option>
                    <md-option value="Depression/Emotion (mood)">Depression/Emotion (mood)</md-option>
                    <md-option value="Sleep">Sleep</md-option>
                    <md-option value="Quality of Life">Quality of Life</md-option>
                </md-select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button md-raised-button (click)="updateOtherMeds()">Update</button>
            </div>
        </div>
    </div>
</ng-template>