@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import '../neuro-graph.themes.scss';

$font-Loto : 'Lato', sans-serif;
$full-graph-maxwidth : 1316px;
$background : #F2F2F2;
$panel-background : #FFFFFF;
$buttonBorder : #F15A24;
$headerBottomBorder : #bfbfbf;

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: $font-Loto;
    background-color: $background;
    font-weight: 400;
    font-size: 12pt;
    color: #333333;
    line-height: normal;
}

label {
    font-weight: 300;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
.left-float {
    float: left;
}

.right-float {
    float: right;
}

.clearBoth {
    clear: both;
    content: '';
    display: block;
}

.action-buttons {
    @include border-radius(5px);
    font-size: 24pt;
    width: 35px;
    cursor: pointer;
    line-height: 35px;
    color: #aaaaaa;
    display: inline-block;
    border: solid 1px $buttonBorder;
    text-align: center;
    margin-left: 10px;
    padding-top: 2px;
}

.action-buttons:hover {
    -webkit-box-shadow: 2px 2px 2px 1px #9c9c9c;
    box-shadow: 2px 2px 2px 1px #9c9c9c;
}

.action-buttons.selected {
    background-color: #999999;
    color: #ffffff;
    -webkit-box-shadow: 2px 2px 2px 1px #9c9c9c;
    box-shadow: 2px 2px 2px 1px #9c9c9c;
}

.graph-container {
    overflow: hidden;
}

.neuro-graph {
    margin-left: 50px;
    width: $full-graph-maxwidth;
}

.neuro-related {
    @extend .left-float;
    width: 200px;
    height: 698px;
    margin: 10px 0px 10px 10px;
    background-color: $panel-background;
}

.graph-panel {
    @extend .left-float;
    width: 746px;
    height: 698px;
    margin: 10px 0px 10px 10px;
    background-color: $panel-background;
}
.right-panel {
    @extend .left-float;
    width: 330px;
    margin: 10px 10px 10px 10px;
    background-color: $background;
}

.patient-concerns {
    height: 330px;
    margin-bottom: 10px;
    background-color: $panel-background;
}
.neuro-related-care {
    height: 358px;
    background-color: $panel-background;
}

/*--------------- Panel Header -----------------*/

.header-area {
    border-bottom: 1px solid $headerBottomBorder;
    padding: 5px 5px 5px 20px;
    .header-text {
        font-weight: 700;
        color: #7e7e7e;
        font-size: 16pt;
        line-height: 26pt;
        @extend .left-float;
    }
}
.header-area:after {
    @extend .clearBoth;
}


.modal-body {
    font-size: 10pt;
    .row {
        margin-bottom: 5px;
    }
}

/*------------ Neuro Related Care ---------------------*/
.cds-panel {
    padding: 10px;
}

.cds-items:after {
    @extend .clearBoth;
}
.cds-items-checkbox {
    @extend .left-float;
}
.cds-items-checkbox label {
    margin-bottom: 2px;
}
.cds-items-checkbox input {
    margin-right: 5px;
}
.cds-items-info {
    @extend .right-float;
}
.cds-items-info span {
    display: block;
    cursor: pointer;
}
/*------------  Neuro Related ---------------------*/

.grouping-checkboxes {
    margin-top: 38px;
}
.ms-related-panel {
	padding: 15px;
}
.related-panel {
    margin-bottom: 20px;
}
.related-label {
    background-color: $background;
    float: left;
    border: solid 1px #e9e9e9;
    margin-right: 15px;
}
.related-text-rotate {
    font-size: 10pt;
    color: #7e7e7e;
    font-weight: 700;
    text-align: center;
    width: 20px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -ms-transform-origin: top middle 0;
    -moz-transform-origin: top middle 0;
    -webkit-transform-origin: top middle 0;
    transform-origin: top middle 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.related-items {
    padding: 10px 0px;
}

.related-items-ul {
	padding : 0px;
	margin : 0px;
	list-style-type : none;
}

.related-items-ul .plus-icon {
        display: block;
        cursor: pointer;
        width: 10px;
        height: 10px;
        float: right;
}
/*===========TREATMENTS=============*/

.related-treatments {

    @extend .related-label;
    height: 128px;

    .related-rotate-text {
         @extend .related-text-rotate;
         margin-top: 91px;
    }
}

/*===========OUTCOMES=============*/
.related-outcomes {
    @extend .related-label;
    height: 151px;
    .related-rotate-text {
         @extend .related-text-rotate;
         margin-top: 99px;
    }
}
/*===========MONITORING=============*/
.related-monitoring {
    @extend .related-label;
    height: 119px;
    .related-rotate-text {
         @extend .related-text-rotate;
         margin-top: 91px;
    }
}
/*===========ENCOUNTERS=============*/
.related-encounters {
    @extend .related-label;
    height: 130px;
    .related-rotate-text {
         @extend .related-text-rotate;
         margin-top: 97px;
    }
}
.related-items li a {
    float: right;
}

.related-panel:after {
    @extend .clearBoth;
}

/*-------------------  Neuro Graph ---------------------*/

.fake-disabled {
  pointer-events: none;
  background-color: #F2F2F2;
}

#graph-panel-wrapper {
  padding-top: 1px;
  height: 520px;
  width: 740px;
  margin: 0px auto;
  background-color: $panel-background;
  position: relative;
}

#graph-container {
  margin: 0px 24px 0px 5px;
  min-height: 560px;
}

#graph-control {
  width: 20px;
  position: absolute;
  top: 0px;
  right: 4px;
  .control-button {
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    color: #bfbfbf;
    font-size:14pt;
    padding-top: 5px;
  }
}


.header-wrapper {
    border-bottom: 1px solid gray;
    height: 40px; 
}

.header-button {
    margin: 14px;
}

.left-content {
   float:left;
}

.right-content {
    float: right;
}

.header-info-button {
    margin: -5px;
}

#graph-panel-wrapper {
  padding-top: 1px;
  height: 520px;
  width: 740px;
  margin: 0px auto;
  background-color: #FFF;
  position: relative;
}

#graph-container {
  margin: 0px 24px 0px 5px;
  min-height: 560px;
}

 

.roundButtonCss {
    border-radius: 5px !important;
    border: 1px solid orange !important;
}


.tooltipCss{
    background-color: #fff !important;
    color: #565656 !important;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #a9a9a9 !important;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px #eee;
}

.header{
    border: 1px solid orange;
    width: 100%;
}
.questionContainer{
    font-size: 11px;
}
.buttonContainer{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}
.roundButton{
    border-radius: 10px;
    border: 1px solid orange;
    width: 100px;
}
.questionContainer tr:nth-child(even){
  background-color: #fceadb;
}
.questionContainer tr td{
    padding: 4px 5px 4px 10px;
}
.ns-edss-theme .modal-body{ padding: 0px;}