<div class="up-nav">
  <a (click)="graphNavClicked()"><img src="../../assets/images/nav-up-graph.PNG" width="50px" height="50px"></a>
  <a><img src="../../assets/images/nav-up-second.PNG" width="50px" height="50px"></a>
  <a><img src="../../assets/images/nav-up-avs.PNG" width="50px" height="50px"></a>
</div>
<div class="down-nav">
  <a><img src="../../assets/images/nav-down-thumb.PNG" width="50px" height="50px"></a>
  <a><img src="../../assets/images/nav-down-book.PNG" width="50px" height="50px"></a>
</div>